<nav>
<ul>
  <li><a href="{{ site.baseurl }}/"><svg class="icon icon-me"><use xlink:href="#icon-me"></use></svg> Martí</a></li>
  <li><a href="{{ site.baseurl }}/Research/"><svg class="icon icon-research"><use xlink:href="#icon-research"></use></svg> Research</a></li>
  <li><a href="{{ site.baseurl }}/Code/"><svg class="icon icon-code"><use xlink:href="#icon-code"></use></svg> Code</a></li>
  <li><a href="{{ site.baseurl }}/Muntanya/"><svg class="icon icon-muntanya"><use xlink:href="#icon-muntanya"></use></svg> Muntanya</a></li>
  <li><a href="{{ site.baseurl }}/Miscellanea/"><svg class="icon icon-misc"><use xlink:href="#icon-misc"></use></svg></a></li>
</ul>
</nav>
